@model RecordListViewModel

<div>
    <table class="table table-striped">
    <thead>
        <tr>
            <td>Категория</td>
            <td>Значение</td>
            <td>Дата</td>
            <td>Комментарий</td>
            <td> </td>
        </tr>
    </thead>
    @foreach (var record in Model.Records)
    {
    <tr>
        <td>@record.Category</td>
        <td>@record.Value</td>
        <td>@record.CreatedDate</td>
        <td>@record.Description</td>
        <td>
            <a asp-controller="Record" asp-action="Update" asp-route-id="@record.Id">
                Update
            </a>
        </td>
    </tr>
    }
    </table>
</div>